* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

#quality.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 100%;
}
.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 378px;
  margin: 24px 16px;
  padding: 32px;
  background-color: #fff;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 8px;
  z-index: 4;
  visibility: hidden;
  opacity: 0;
  transform: translateX(300%);
  transition: all 300ms ease;
}

.menu--open .menu {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#features .section__para {
  text-align: center;
  max-width: 576px;
}

.btn__menu {
  display: none;
}

.row__narrow {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature__img--wrapper {
    width: 50px
}

.features {
  width: 100%;
}

.feature {
  padding: 32px 24px;
}

.feature__text {
  margin-left: 16px;
}

.feature__para {
  margin-top: 16px;
  line-height: 2;
}

.section__para {
  font-size: 18px;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 1.625;
}

.section__tag {
  font-size: 16px;
  color: #6415ff;
  letter-spacing: 1.6px;
  font-weight: 700;
  text-transform: uppercase;
}

#features .section__title {
  text-align: center;
}

.purple {
  color: #6415ff;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  line-height: 1.5;
  margin: 16px 0;
  letter-spacing: 0.025em;
}

.container {
  padding: 80px 0;
}

.features {
  display: flex;
  flex-wrap: wrap;
}

.feature {
  width: calc(100% / 3);
}

.feature__row {
  display: flex;
}

.feature__text {
  display: flex;
  flex-direction: column;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  border-bottom: 2px solid transparent;
  position: relative;
  transition: all 300ms;
  margin: 0 24px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link--primary {
  margin: 0;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  width: auto;
  transition: all 300ms ease;
}

.nav__logo--title {
  font-weight: 900;
  font-size: 24px;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

h1 {
  font-size: 36px;
  color: #1a202c;
}

.header__img {
  width: 100%;
}
.header__description {
  width: 50%;
  padding-right: 40px;
}

.header__customers--title {
  width: 50%;
  margin: 0;
}

.header__description--para {
  margin: 32px 0;
}

.login {
  margin-left: 48px;
}

.header__email {
  position: relative;
  width: 100%;
  max-width: 450px;
}

.header__email--input {
  width: 100%;
  border-radius: 500px;
  border: 2px solid rgb(229, 231, 235);
  padding: 20px 180px 20px 32px;
  color: rgb(36, 62, 99);
  font-size: 16px;
  font-weight: 500;
  box-sizing: border-box;
  transition: border-color 300ms;
}

.header__email--btn {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  height: calc(100% - 16px);
  border-radius: 500px;
  width: 140px;
  border: none;
  background-color: #6415ff;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  transition: all 300ms ease;
}

button {
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

@media (max-width: 1280px) {
  .header_description--para {
    font-size: 16px;
  }

  .header__img {
    max-width: 512px;
  }
}

@media (max-width: 1024px) {
  .btn__menu {
    display: block;
  }
  .nav__links {
    display: none;
  }
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .header__description,
  .header__customers--title {
    width: 100%;
    padding-right: 0;
  }
}